@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Volkhov&display=swap');


/* General Styling */
body{
    margin: 0;
    font-family: 'Volkhov', serif;
}

ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    color: black;
}

.secondary-font{
    font-family: 'Questrial', sans-serif;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* navigation and landing */

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
    padding: .8em;
    display: flex;
    justify-content: center;
}

.logo-wrapper img{
    min-width: 90px;
    max-width: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.nav-items{
    display: flex;
    flex-direction: row;  
}

.cart-img{
    height: 20px;
    width: 20px;
}

.nav-items a{
    margin: 1.5em;
    color: black;
}

.nav-items a:hover{
    text-decoration: underline;
}

#hamburger{
    display: none;
}

.menu-icon{
    height: 20px;
    width: 20px;  
}

/* secondary nav */



#secondary_nav{ 
    display: flex;
    background-color: rgba(255, 255, 255, 0.876);
    justify-content: center;
}

.menu_hidden{
    display: none !important; 
}

.nav-items-col li{
    text-align: center;
    border-bottom: solid 1px rgb(118, 118, 118);
    padding: 1em;
}

.nav-items-col a:hover{
    text-decoration: underline;
}


/* experience section */

.experience-nav-section{
    padding: 4em;
    background-color: #2A292F;
}

.heading{
    text-align: center;
    padding-bottom: 2em;
    color: white;
}

.flex-grid{
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px,auto);
    grid-gap: 1em;

    grid-template-areas: 
    "wine-tours wine-tastings accommodation"
    "trails resturant truffles";
}

.grid-content{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.img-wrapper a:hover>img{
    transform: scale(1.2);
}

.img-wrapper a img{
    transition: 0.4s;
}

.wine-tours{
    grid-area: wine-tours;
}

.wine-tastings{
    grid-area: wine-tastings;
}

.accommodation{
    grid-area: accommodation;
}

.trails{
    grid-area: trails;
}

.resturant{
    grid-area: resturant;
}

.truffles{
    grid-area: truffles;
}


.img-wrapper{
    background-color: white;
    height: 100%;
    overflow: hidden;
}

.txt-wrapper{
   display: flex;
   justify-content: center;
   color: white; 
}

.txt-wrapper:hover{
    text-decoration: underline;
}

/* wine tours section */

#wine-tours{
    padding: 4em;
    position: relative;
}

.absolute-container{
    position: absolute;
    border: solid 2px black;
    left: 25%;
    right: 1em;
    bottom: 1em;
    top: 1em;
    z-index: -1;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
}

.tour-img-wrapper{
    flex: 1;
    max-width: 600px;
}


.txt-container{
    flex: 1;
    padding: 1em;
    max-width: 600px;
}

.pricing-container{
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border-bottom: solid 1px black;
}

.col{
    text-align: left;
    flex: 1;
    margin: 1em; 
}

.button{
    border: solid 2px black;
    margin-top: 2em;
    background-color: black;
    max-width: 150px;
    padding: .8em;
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: 'Volkhov', serif;
    font-size: .8em;
}

.button:hover , .button a{
    background-color: white;
    color: black;
}


/* accommodation */


#accommodation{
    padding: 4em;
    position: relative;
    z-index: -2;
}

.reverse-absolute-container{
    position: absolute;
    border: solid 2px black;
    right: 25%;
    left: 1em;
    bottom: 1em;
    top: 1em;
    z-index: -1;
}

.flex-container-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.tour-img-wrapper{
    flex: 1;
    max-width: 600px;
}


.txt-container{
    flex: 1;
    padding: 1em;
    max-width: 600px;
}

.icon-wrapper{
   height: 20px;
   width: 20px;
}




























/* footer section */

footer{
    display: none;
    min-height: 200px;
    padding: 1em;
    /* display: flex; */
    flex-direction: row;
}

.flex-footer-row{
    padding: 1em;
    display: flex;
    flex: 1;
    border: solid 1px black;
    align-items: center;
}

.flex-one{
    padding: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.flex-one li a:hover{
    text-decoration: underline;
}

.input-container{
    display: flex;
    color: black;
}

.email-input{
   flex: 1;
}

.submit-button{
    flex: 1;
    background-color: black;
    color: white;
    border: none;
    align-items: center;
}

.footer-links{
    display: flex;
}

.social-icon{
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;  
}

.social-icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon-flex-row{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
} 


/* media query 830px Tablet */

@media(max-width: 830px) {

    .flex-items{
        flex-direction: column;
    }
    
    .absolute-container{
        display: none;
    }
    
    .white-absolute-container{
        display: none;
    }
    
    .reverse-absolute-container{
        display: none;
    }
    
    .txt-container , .reverse-txt-container{
        background-color: white;
        }

    .social-icon{
    margin: 5px;
  }

    footer{
    flex-direction: column;
}

    .flex-footer-row{
    flex-direction: column;
}
































}

/* media query Small tablet 765px */

@media(max-width: 768px){

    .about-section , .vineyard-section , .who-we-are-section , .testimonials-section , footer{
        padding: 2em;
    }

    .nav-items{
        display: none;
    }

    #hamburger{
        display: block;
    }


    .absolute-container{
        display: none;
    }

    .white-absolute-container{
        display: none;
    }

    .reverse-absolute-container{
        display: none;
    }

    .txt-container , .reverse-txt-container{
        background-color: white;
        }

.flex-container{
    flex-direction: column;
}


footer{
    flex-direction: column;
}

.flex-footer-row{
    flex-direction: column;
}
}

@media(max-width: 668px){

.flex-items{
    flex-direction: column;
}

}

