@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Volkhov&display=swap');


/* General Styling */
body{
    margin: 0;
    font-family: 'Volkhov', serif;
}

ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    color: black;
}

.secondary-font{
    font-family: 'Questrial', sans-serif;
}


/* navigation and landing */

#landing-section{
    padding: 1em;
    background-image: url(./images/landing-image.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper{
    padding: .8em;
    display: flex;
    justify-content: center;
}

.logo-wrapper img{
    min-width: 90px;
    max-width: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.nav-items{
    display: flex;
    flex-direction: row;  
}

.cart-img{
    height: 20px;
    width: 20px;
}

.nav-items a{
    margin: 1.5em;
    color: black;
}

.nav-items a:hover{
    text-decoration: underline;
}

#hamburger{
    display: none;
}

.menu-icon{
    height: 20px;
    width: 20px;  
}

/* secondary nav */



#secondary_nav{ 
    display: flex;
    background-color: rgba(255, 255, 255, 0.876);
    justify-content: center;
}

.menu_hidden{
    display: none !important; 
}

.nav-items-col li{
    text-align: center;
    border-bottom: solid 1px rgb(118, 118, 118);
    padding: 1em;
}

.nav-items-col a:hover{
    text-decoration: underline;
}







/* wine tours & tastings section */
.wine-tours-and-tastings{
    padding: 4em;
    position: relative;
}

.absolute-container{
    position: absolute;
    border: solid 2px black;
    left: 25%;
    right: 1em;
    bottom: 1em;
    top: 1em;
    z-index: -1;
}
.img-container{
    flex: 1;
    max-width: 600px;   
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flex-items{

    display: flex;
    justify-content: space-evenly;
}

.txt-container{
    padding: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: flex-start;  
}

.button{
    border: solid 2px black;
    margin-top: 2em;
    background-color: black;
    max-width: 150px;
    padding: .8em;
    text-align: center;
    text-decoration: none;
    color:white;
    font-family: 'Volkhov', serif;
    font-size: .8em;
}

.button:hover , .button a{
    background-color: white;
    color: black;
}

/* Wine tours & Tastings end */

/* shop slider */

 .shop-slider{
    padding: 4em;
    min-height: 600px;
 }

 .slider-container{
    display: flex;
    justify-content: space-evenly;
 }

 .slider{
    flex: 1;
    max-width: 120px;
 }
 .img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
 }

 .img-wrapper:hover{
    scale: 1.075;
    transition: 0.4s;
 }

 .txt-wrapper h1{
    font-size: 1em;
    text-align: center;
 }

 .txt-wrapper p{
    font-size: .8em;
    text-align: center;
 }
/* shop slider end */

/* Join the Club */

.join-the-club-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/join-the-club-img.jpeg);
    background-size: cover;
    background-position: center;
   min-height: 800px;
}

.white-container{
    padding: 4em;
    background-color: rgba(255, 255, 255, 0.826);    
}

/* footer start */

footer{
    min-height: 200px;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.flex-row{
    padding: 1em;
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid 1px black;
    align-items: center;
}

.flex-one{
    padding: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.flex-one li a:hover{
    text-decoration: underline;
}

.input-container{
    display: flex;
    color: black;
}

.email-input{
   flex: 1;
}

.submit-button{
    flex: 1;
    background-color: black;
    color: white;
    border: none;
    align-items: center;
}

.footer-links{
    display: flex;
}

.social-icon{
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;  
}

.social-icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icon-flex-row{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}


/* media query 830px Tablet */

@media(max-width: 830px) {

    footer{
        flex-direction: column;
    }

    .flex-row{
        flex-direction: column;
    }

  .social-icon{
    margin: 5px;
  }

}

/* media query Small tablet 765px */

@media(max-width: 765px){

    .nav-items{
        display: none;
    }

    #hamburger{
        display: block;
    }


    .absolute-container{
        display: none;
    }

    .flex-items{
        flex-direction: column;
    }

    .header{
        text-align: center;   
    }

    .slider-container{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

