@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Volkhov&display=swap');

body{
    margin: 0;
    font-family: 'Volkhov', serif;
}

/* navigation and landing */

ul{
    padding: 0;
    margin: 0;
}

#landing-section{
    background-image: url(./images/landing-image.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.nav-bar{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-wrapper{
    display: flex;
    max-width: 100px;
    max-height: 100px;
}

.logo-wrapper img{
    width: 100%;
    object-fit: contain;  
}

.nav-items{
    padding-top: 1em;
    display: flex;
    flex-direction: row;  
}

.nav-items li{
    list-style: none;  
} 

.cart-img{
    height: 20px;
    width: 20px;
}

.nav-items a{
    text-decoration: none;
    margin: .8em;
    color: black;
}

.nav-items a:hover{
    text-decoration: underline;
}

/* navigation and landing end */

/* wine tours & tastings section */
.wine-tours-and-tastings{
    padding: 4em;
    position: relative;
}

.absolute-container{
    position: absolute;
    border: solid 2px black;
    left: 25%;
    right: 1em;
    bottom: 1em;
    top: 1em;
    z-index: -1;
}


.img-container{
    flex: 1;
    max-width: 600px;
    
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flex-items{

    display: flex;
    justify-content: space-evenly;
}

.txt-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items: flex-start;  
}

.text-content{
    font-family: 'Questrial', sans-serif;
}

.wine-tours-button{
    margin-top: 2em;
    background-color: #FFD30A;
    max-width: 100px;
    padding: .8em;
    text-align: center;
    border: solid 2px black;
}

.wine-tours-button a{
    text-decoration: none;
    color:black;
    font-family: 'Volkhov', serif;
}

/* Wine tours & Tastings end */

/* Shop feature */

.shop-feature-section{
    padding: 4em;
    background-color: #2A292F;

}

.shop-feature-heading{
    color: white ;
}

.flex-shop-feature{
    display: flex;   
    
}

.img-wrapper{
    margin: 2em;
    background-color: white;
    display: flex;
    flex: 1;
    max-height: 400px;
}
.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-wrapper:hover{
    transform: scale(1.025);
    transition: .8s;
}

.txt-container-feature{
    display: none;
    margin: 1em;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.secondary-font{
    font-family: 'Questrial', sans-serif;
}

.img-wrapper:hover .txt-container-feature{
    display: block;

}


