@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Volkhov&display=swap');

body{
    margin: 0;
    font-family: 'Volkhov', serif;
}

/* navigation and landing */

ul{
    padding: 0;
    margin: 0;
}

#landing-section{
    background-image: url(./images/landing-image.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.nav-bar{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-wrapper{
    display: flex;
    max-width: 100px;
    max-height: 100px;
}

.logo-wrapper img{
    width: 100%;
    object-fit: contain;  
}

.nav-items{
    padding-top: 1em;
    display: flex;
    flex-direction: row;  
}

.nav-items li{
    list-style: none;
    
    
} 

.nav-items a{
    text-decoration: none;
    margin: .8em;
    color: black;
}

.nav-items a:hover{
    text-decoration: underline;
}

/* navigation and landing end */

/* wine tours & tastings section */
.wine-tours-and-tastings{
    padding: 4em;
    min-height: 500px;
}
.relative-container{
    position: relative;
}

.absolute-container{
    position: absolute;
    border: solid 2px black;
    left: 25%;
}


.img-container{
    flex: 1;
    max-width: 600px;
}

img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

.flex-items{
    display: flex;
}

.txt-container{
    flex: 1;
    margin: 3em
}