@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Volkhov&display=swap');

body{
    margin: 0;
    font-family: 'Volkhov', serif;
}

/* navigation and landing */

ul{
    padding: 0;
    margin: 0;
}

#landing-section{
    background-image: url(./images/landing-image.jpeg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.nav-bar{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-wrapper{
    display: flex;
    max-width: 100px;
    max-height: 100px;
}

.logo-wrapper img{
    width: 100%;
    object-fit: contain;  
}

.nav-items{
    padding-top: 1em;
    display: flex;
    flex-direction: row;  
}

.nav-items li{
    list-style: none;  
} 

.cart-img{
    height: 20px;
    width: 20px;
}

.nav-items a{
    text-decoration: none;
    margin: .8em;
    color: black;
}

.nav-items a:hover{
    text-decoration: underline;
}

/* navigation and landing end */

/* wine tours & tastings section */
.wine-tours-and-tastings{
    padding: 4em;
    position: relative;
}

.absolute-container{
    min-width: 70%;
    min-height: 500px;
    max-height: auto;
    position: absolute;
    border: solid 2px black;
    left: 25%;
    z-index: -1;
}


.img-container{
    flex: 1;
    max-width: 600px;
    min-width: 500px;
}

img{

    width: 100%;
    object-fit: cover;
}

.flex-items{
    flex-wrap: wrap;
    display: flex;
    margin-top: 3em;
    justify-content: space-evenly;
}

.txt-container{
    display: flex;
    flex: 1;
    min-width: 500px;
    max-width: 600px;
    justify-content: center;
    align-items: center;  
}

.text-content{
    margin: 5em;
    font-family: 'Questrial', sans-serif;
}

.wine-tours-button{
    margin-top: 2em;
    background-color: #FFD30A;
    max-width: 100px;
    padding: .8em;
    text-align: center;
    border: solid 2px black;
}

.wine-tours-button a{
    text-decoration: none;
    color:black;
    font-family: 'Volkhov', serif;
}

/* Wine tours & Tastings end */

/* Shop feature */